@media (max-width: 1230px) {
   body {
      margin: 0;
   }
   .profile {
      flex-direction: column-reverse;
      align-items: center;
   }
   .profile__title {
      text-align: center;
   }
   .profile__subtitle {
      text-align: center;
   }
   .profile__links {
      text-align: center;
   }
   .profile__img {
      max-width: 350px;
      max-height: 350px;
      margin: 0;
   }
   .profile__link {
      padding: 1.5% 0 1.5% 0;
      height: 50px;
   }
   .container {
      max-width: 960px;
   }
}
@media (max-width: 992px) {
   // .profile__img {
   //    width: 100px;
   // }
   .project {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
   }
   .project__title {
      text-align: center;
   }
   .project__img {
      margin-top: 15px;
      max-width: 490px;
      max-height: 331px;
   }

   .contacts__body {
      flex-direction: column-reverse;
      align-items: center;
   }
   .contacts__username {
      display: block;
      width: 175px;
      margin: 0 auto;
   }

   .contacts__message {
      max-width: 350px;
      margin-bottom: 10px;
      max-height: 200px;
   }
   .contacts__contant {
      margin-bottom: 15px;
   }
   .contacts__title {
      text-align: center;
   }
   .button {
      display: block;
      margin: 0 auto;
   }
}

@media (max-width: 530px) {
   .contacts__message {
      max-width: 300px;
      margin-bottom: 10px;
      max-height: 200px;
   }
   .profile__title {
      font-size: 70px;
   }
   .project__img {
      margin-top: 15px;
      max-width: 430px;
      max-height: 320px;
   }
}
@media (max-width: 400px) {
   .profile .yel {
      margin: 10px 0 0 0;
   }
   .profile__img {
      max-width: 300px;
      max-height: 300px;
   }
   .profile__title {
      font-size: 60px;
   }
   .project__img {
      margin-top: 15px;
      max-width: 350px;
      max-height: 270px;
   }
}
